<header></header>
<form [formGroup]='joinForm' (ngSubmit)='join(joinForm.value)' *ngIf='!joined'>
  <label for='name'>Name</label>
  <input type='text' formControlName='name'>
  <button type='submit'>join</button>
</form>
<div *ngIf='joined' class='body'>
  <gameboard [state]='state' (selected)='registerBoardSelection($event)'></gameboard>
  <factor-line [state]='state' (submitted)='registerFactorSub($event)' (selected)='registerFactorSelection($event)'>
  </factor-line>
  <p class='prompt' [ngClass]="{'current-prompt': isCurrPlayer(socket.id)}">
    {{message}}
  </p>
  <button *ngIf='!state.gameStarted; else started' (click)='playAgain()'>Play Again</button>
  <ng-template #started>
    <button disabled='state.gameStarted'>Game Started</button>
  </ng-template>
  <score-card [state]="state"></score-card>
</div>